{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="">Login</a>-->
<!--        </li>-->
<!--          <li class="nav-item">-->
<!--          <a class="nav-link" href=""> Register</a>-->
<!--        </li>-->
        <li>
        <a href="register" class="btn btn-primary btn-block "> Register </a>
      </li>
        &nbsp;
        <li>
        <a href="login" class="btn btn-primary btn-block "> Login</a>
      </li>
        &nbsp;
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle ms-auto " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Departments
          </a>


          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Computer_science ">Computer Science</a></li>

            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce IT </a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Mathematical_and_theoretical_biology">Bio Maths</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Humanities">Humanities</a></li>
            <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/Commerce">Commerce Maths</a></li>

          </ul>


      </ul>
      <ul>
        <li>
          <b> ABC SCHOOL ERNAKULAM</b>
        </li>
      </ul>
      </div>

    </div>
</nav>

